#editor-container {
  height: calc(100vh);
}

.sidebar {
  overflow-y: auto;
  padding: 10px;
}

.code-font {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
}

.uk-form-label {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}